.cut{
  overflow: hidden;
  text-overflow: ellipsis;
    white-space: nowrap; 		// 아래줄로 내려가는 것을 막기위해
    word-break:break-all
    width: 400px;
    height:50px;
     display: block;
}

.td
{
 max-width: 100px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}