<!-- site info -->
<div class="card" style="
    width: 100%;
    position: bottom;
    bottom: 0;
">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Project Practice of Server-Side</h5>
        <p class="card-text">This is a project practicing Db-SpringBoot-html system link</p>
        <!--
        <a href="#" class="btn btn-primary">Go somewhere</a>
        -->
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>