{{>layouts/header}}
<br>
<form action="/join/create" method="get">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id </th>
        <td scope="col"><input type="text" name="id" width="500px"> </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Password</th>
        <td><input type="text" name="password"></td>
    </tr>
    </tbody>
</table>
<input type="submit" value="join!">
</form>

{{>layouts/footer}}